{% extends "base.html" %}
{% load static %}

{% block extra_title %}{{product.title}} | {% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col d-flex flex-column align-items-center mt-3">
        <h2 class="title-font">Contact Us</h2>
        <hr class="w-50 text-center mb-1">
    </div>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact m-3">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-map"></i>
                        <h3>Our Address</h3>
                        <p>Brighten Roads, Kerrymount,
                            Foxrock,
                            Co. Dublin</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-envelope"></i>
                        <h3>Email Us</h3>
                        <p>info@leveluploot.ie</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-phone"></i>
                        <h3>Call Us</h3>
                        <p>+353 123 456789</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <!-- Contact Form -->
            <div class="col-12 col-md-8 contact-form-container">
                <div class="contact-form">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2 class="mt-3">Get In Touch</h2>
                        <div class="line"></div>
                    </div>
                    <!-- Form -->
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" class="form-control mb-30"
                                    placeholder="Your Name" required>
                            </div>
                            <div class="col-lg-6">
                                <input type="email" name="email" class="form-control mb-30"
                                    placeholder="Your Email" required>
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control mb-30 message" placeholder="Your Message"
                                    required></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-lg product-btn text-shadow mt-1 rounded-0">Send Message</button>
                            </div>
                            <div id="messages" class="hide"></div>
                        </div>
                    </form>
                </div>
            </div><!-- End Contact Form -->

        </div>

    </section><!-- End Contact Section -->
</div>

{%endblock%}