{% extends "base.html" %}
{% load static %}

{% block extra_title %}FAQs | {% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col d-flex flex-column align-items-center mt-3">
        <h2 class="title-font text-blue">FAQs</h2>
        <hr class="w-50 text-center mb-1">
    </div>
    <section class="faqs">
        <a class="h4" href="#orders">- Order Processing</a><br>
        <a class="h4" href="#payment">- Payment</a><br>
        <a class="h4" href="#shipping">- Shipping</a><br>
        <div class="faq-content">
            <div id="orders">
                <br>
                <h4 class="mt-3"><b>Order Processing</b></h4>
                <br>
                <p>All of our orders are shipped from our Irish warehouse</p><br>
                <p><b>Due to our warehouse location, any order within the EU Zone will NOT incur additional import
                        taxes orduty upon delivery.</b></p>

                <br>

                <b>Modifications to Order</b><br><br>
                <p>Due to system limitations, product modifications cannot be made once pre-orders are placed.
                    Please verify your checkout cart before submitting the final order.</p>
                <p>Some countries must pay applicable sales taxes at the time of purchase, such as
                    VAT, GST or PST taxes.</p>

                <br>

                <b>Cancellations</b><br>
                <br>
                <p>Orders can only be cancelled on the same day by 12pm IST by emailing
                    support@leveluploot.ie. For example, if you ordered between 1am-11am IST on Monday, you will only
                    have
                    until
                    12pm on the same day to email us to cancel the order.</p>
                <p>Please make sure to include the name and order number
                    of the order and reason for cancellation. Once your request has been received and cancelled, you
                    will
                    receive a cancellation email confirmation and you will be refunded using the same payment method.
                    Please
                    note the refund can take between 5-14 business days to show in your bank/credit card account,
                    depending
                    on
                    your bank and country.</p>
                <p><span style="text-decoration: underline;">If you do not like to wait for refunds to
                        be received in your bank/credit card account, it is important that you are 100% sure you want to
                        place
                        the order</span>.</p>

                <br>
                <b>Change Of Address</b><br>
                <br>
                <p>For change of address, contact our support team at support@leveluploot.ie.</p>
                <p>An address change must be requested for each order you would like to update. Updating your address in
                    your account does not update the address for your existing orders. It is the customers
                    responsibility to
                    ensure the delivery address is correct before the order ships as we cannot change the delivery
                    address
                    after the order ships. We will not re-ship the product if the incorrect address is provided.</p>
                <br>
                <b>Delivery Delays</b><br>
                <br>
                <p>Please note that the delivery month shown on the product page is an
                    <em>estimate</em> only. It is normal that there are production delays, especially given the
                    circumstance with COVID-19 at the moment, but we will do our best to meet the approximate delivery
                    month. As such, please be aware of possible delays if the preorder is intended as a future gift.

                </p>
                <br>
            </div>

            <div>
                <h4 class="mt-3" id="payment"><b>PAYMENT</b></h4>
                <br>
                <b>Accepted Payments</b>
                <br>
                <br>
                <p>
                    The accepted cards for payment are Visa and Mastercard. If you have a Visa or
                    Mastercard Debit card, this payment should work as well.
                </p>
            </div>
            <br>
            <div>
                <h4 class="mt-3" id="shipping"><b>SHIPPING</b></h4>
                <br>

                <div>
                    <b>Shipping from warehouse in Ireland</b> <br>
                    <br>
                    <p>All orders with a shipping
                        address in Europe will be shipped from our warehouse in the
                        EU (Ireland).
                    </p>
                    <br>
                    <p>
                        Once you receive the tracking information, please monitor and make sure someone is available to
                        receive and sign. We are not
                        responsible for the delivery actions of couriers.
                    </p>
                    <br>
                    <p>Some shipments to Asia and Africa may also incur duty and taxes.</p>

                    <p>Duty/custom fees are the responsibility of the customer. If you
                        do not pay for these fees and the shipment is sent back, we will not re-ship the order to
                        you. All shipping costs including failed delivery fees that are charged to us by the courier
                        will be deducted from the order amount paid.</p>
                    <br>
                    <p><b>Modification to Shipping Address </b></p>
                    <p>
                        It is possible to change the shipping address for all pre-orders before the estimated
                        month of delivery. Please email support@leveluploot.ie or contact us on FB messenger for the
                        address
                        change. Please provide your order number, shipping address name, full address, email and phone
                        number.
                    </p>
                    <br>
                    <p><b>Tracking Information</b></p>
                    <p>All orders have tracking included to ensure peace of mind.</p>
                    <br>
                    <p><b>Customs/Duties Fees</b></p>
                    <p>Please note that the shipping cost we charge for the
                        order excludes any customs/import fees. This extra charge will be the buyer's responsibility.
                        Please
                        check with your country's import rates for more information.
                    </p>
                    <p>Duty/custom fees are the responsibility of the customer. If you do not pay for these fees
                        and
                        the shipment is sent back, we will <span style="text-decoration: underline;">not</span>
                        re-ship
                        the order to you. All shipping costs including failed delivery fees that are
                        charged to us by DHL/UPS will be deducted from the order amount paid.
                    </p>
                </div>
                <br><br>
                <p style="text-align: right;"><span>Last updated: May 19th, 2023</span></p>
                <br><br>
                <div><strong>For any questions, please email us at <a
                            href="mailto://support@leveluploot.ie">support@leveluploot.ie</a><a
                            href="mailto:support@leveluploot.ie" target="_top"><br></a><br></strong></div>
            </div>

        </div>
    </section>
</div>
{%endblock%}