{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<section id="hero" class="row hero">
    <div class="info d-flex align-items-center">
        <div class="hero-container col-xl-6">
            <div class="row justify-content-center hero-content">
                <div class="hero-text">
                    <div class="hero-inner">
                        <h2>Enter The Animus</h2>
                        <p> Bring home Ezio Auditore as he majestically materializes from the iconic Santa Maria del
                            Fiore!
                            <a class='btn btn-lg btn-block hero-btn' href="/products/66/">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Hero Mobile Section -->
<section id="hero-mobile" class="hero-mobile">
    <div class="info">
        <div class="hero-container-mobile">
            <div class="hero-text-mobile text-center">
                <div class="hero-inner-mobile">
                    <h2>Enter The Animus</h2>
                    <p>
                        Ezio Auditore Premium 1/4 Scale Statue
                        <a class='btn btn-lg btn-block hero-btn' href="/products/66/">Order Now</a>
                    </p>
                </div>
            </div>
            <!-- <div class="col-lg-6 hero-text-mobile-small">
                    <h2>Premium Collectible Statues</h2>
                    <p>All shipped from Ireland</p>
                    <p>Quick delivery</p>
                    <p>No import fees!</p>
                    <a class='btn btn-lg btn-block hero-btn-mobile' href="{% url 'products' %}">Shop Now</a></p>
                </div> -->
        </div>
    </div>
</section>


<!-- Brand Section -->
<section class="brands">
    <div class="container-brands">
        <div>
            <h2 class="display-4 text-black text-center pt-2 ">Shop Brands</h2>
            <p class="text-center h4 mb-5 brand-title-p">Find your favourite premium collectible brand now!</p>
        </div>
        <div class="brands-div">
            <div class="brands-item">
                <a href="{% url 'products' %}?brand=funko" class="brands-a">
                    <div class="brands-img-div">
                        <div class="img-box">
                            <img src="{{ MEDIA_URL }}funko-preview.png" alt="pink pokemon figure">
                        </div>
                        <div class="img-box-title brands-flex">
                            <h3 class="img-box-title-text">Funko Pop!</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="brands-item">
                <a href="{% url 'products' %}?brand=sideshow" class="brands-a">
                    <div class="brands-img-div">
                        <div class="img-box">
                            <img src="{{ MEDIA_URL }}sideshow-preview.png" alt="anime character statue">
                        </div>
                        <div class="img-box-title brands-flex">
                            <h3 class="img-box-title-text">Sideshow</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="brands-item">
                <a href="{% url 'products' %}?brand=hasbro" class="brands-a">
                    <div class="brands-img-div">
                        <div class="img-box">
                            <img src="{{ MEDIA_URL }}hasbro-preview.png" alt="star wars green soldier helmet">
                        </div>
                        <div class="img-box-title brands-flex">
                            <h3 class="img-box-title-text">Hasbro</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="brands-item">
                <a href="{% url 'products' %}?brand=dark_horse" class="brands-a">
                    <div class="brands-img-div">
                        <div class="img-box">
                            <img src="{{ MEDIA_URL }}darkhorse-preview.png" alt="figure of a man holding an axe">
                        </div>
                        <div class="img-box-title brands-flex">
                            <h3 class="img-box-title-text">DarkHorse</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="brands-item">
                <a href="{% url 'products' %}?brand=mcfarlane" class="brands-a">
                    <div class="brands-img-div">
                        <div class="img-box">
                            <img src="{{ MEDIA_URL }}mcfarlane-preview.png" alt="toy pig man solider holding a gun">
                        </div>
                        <div class="img-box-title brands-flex">
                            <h3 class="img-box-title-text">McFarlane</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="brands-item">
                <a href="{% url 'products' %}?brand=pure_arts" class="brands-a">
                    <div class="brands-img-div">
                        <div class="img-box">
                            <img src="{{ MEDIA_URL }}purearts-preview.png" alt="">
                        </div>
                        <div class="img-box-title brands-flex">
                            <h3 class="img-box-title-text">PureArts</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Categories Section-->
<section class="categories-desktop rectangle">
    <div class="category-rectangle">
        <h2 class="h1">Choose Your Favorite Category</h2>
        <a href="{% url 'products' %}?sort=category" class="categories-desktop-link">See All Categories</a>
    </div>
    <div class="clearfix">
        <div class="column menu right">
            <ul>
                <li class="margin" style="background-color: #2a9d8f;"><a href="{% url 'products' %}?category=gaming"
                        class="categories-link">Gaming</a></li>
                <li style="background-color: #f4a261;"><a href="{% url 'products' %}?category=tv_shows"
                        class="categories-link">TV Shows</a></li>
            </ul>
        </div>
        <div class="column menu left">
            <ul>
                <li class="margin" style="background-color: #e76f51;"><a href="{% url 'products' %}?category=movies"
                        class="categories-link">Movies</a></li>
                <li style="background-color: #e9c46a;"><a href="{% url 'products' %}?category=anime"
                        class="categories-link">Anime</a></li>
            </ul>
        </div>
    </div>
</section>


<!-- Featured Products -->
<section class="featured mt-5">
    <h2 class="display-4 text-black text-center pt-2">
        Featured Collectibles
    </h2>
    <p class="text-center h4 mb-5">Check out some of our top rated statues!</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 mx-3 mb-5">
        {% for product in products %}
        {% if product.is_featured %}
        <div class="col mb-4">
            <div class="card h-100">
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top product-image img-fluid" src="{{ product.image.url }}"
                        alt="{{ product.title }}">
                </a>
                <div class="card-body">
                    <h3 class="card-title text-black text-center mt-auto">{{ product.title }}</h3>
                </div>
                <div class="card-footer bg-white text-center mb-2">
                    <div class="price-box mb-1">
                        <p class="h4 mb-0 pb-1"><span class="text-left logo-font">€{{ product.price }}</span></p>
                    </div>
                    <a href="{% url 'product_detail' product.id %}"
                        class="btn btn-sm product-btn text-shadow mt-1 rounded-0">
                        <span class="text-uppercase">Shop Now</span>
                        <span class="icon">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Why Shop With Us -->
<section id="why-us" class="why-us">
    <div class="section-header text-center p-3">
        <h2 class="index-title">Why Shop With Us?</h2>
    </div>
    <div class="container mt-5">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="why-us-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{{ MEDIA_URL }}box.png" alt="cardboard box graphic">
                    </div>
                    <p class="why-us-title h3">Fast Shipping</p>
                    <p class="why-us-p">All of our products are shipped from our Irish warehouse, meaning faster delivery!</p>
                </div>
            </div><!-- End Item -->

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="why-us-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{{ MEDIA_URL }}hand.png" alt="hand holding money">
                    </div>
                    <p class="why-us-title h3">No Import Fees</p>
                    <p class="why-us-p">Take out the hassle of having to pay custom fees, shop within the EU and save money.</p>
                </div><!-- End Item -->
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="why-us-item position-relative">
                    <div class="icon">
                        <img class="icon-img" src="{{ MEDIA_URL }}new-product.png" alt="open cardboard box graphic">
                    </div>
                    <p class="why-us-title h3">New Products Weekly</p>
                    <p class="why-us-p">We're constantly updating our stock with the lastest collectibles from the best brands!</p>
                </div>
            </div><!-- End Item -->
        </div>
    </div>
</section><!-- End Section -->

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.carousel').carousel()
</script>
{% endblock %}