<script type="text/javascript">

// Disable +/- buttons outside 1-99 range
function handleEnableDisable(itemId) {
    // get the current value of the item id
    let currentValue = parseInt($(`#id_qty_${itemId}`).val());
    // disable the button if it goes below 2
    let minusDisabled = currentValue < 1;
    // disable the button if it goes above 98
    let plusDisabled = currentValue > 98;
    // set the button attribute to true or false if outside the range allows
    $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
    $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
}

// Ensure proper enabling/disabling of all inputs on page load
let allQtyInputs = $('.qty_input');
for (let i = 0; i < allQtyInputs.length; i++) {
    let itemId = $(allQtyInputs[i]).data('item_id');
    handleEnableDisable(itemId);
}

// Check enable/disable every time the input is changed
$('.qty_input').change(function () {
    let itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});

// Increment quantity
$('.increment-qty').click(function (e) {
    let itemId = $(this).data('item_id');
    // go up the DOM to find the closest input-group class
    // then find the closest class with qty_input class
    let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    // put the value of that in var called currentValue
    let currentValue = parseInt($(closestInput).val());
    // set that value to the new value + 1
    $(closestInput).val(currentValue + 1);
    handleEnableDisable(itemId);
});

// Decrement quantity
$('.decrement-qty').click(function (e) {
    let itemId = $(this).data('item_id');
    // go up the DOM to find the closest input-group class
    // then find the closest class with qty_input class
    let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
    // put the value of that in var called currentValue
    let currentValue = parseInt($(closestInput).val());
    // set that value to the new value - 1
    $(closestInput).val(currentValue - 1);
    handleEnableDisable(itemId);
});
</script>