{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="shadow p-4 mb-5 rounded text-black m-5 delete-div">
  <div class="delete-form">
    <h2 class="delete">Are you sure?</h2>
    <hr>
    <p class="delete-p">Are you sure you want to delete your account? This action cannot be undone.</p>
    <form action="." method="POST" class="padding" id="delete">{% csrf_token %}
      {{ form.as_p}}
      <button type="submit" class="btn btn-red rounded-0 text-uppercase mr-2">Confirm</button>
      <a class="btn btn-black rounded-0 text-uppercase ml-2" href="{% url 'profile' %}">Return</a>
    </form>
  </div>
</div>
{%endblock%}