{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container first-element-buffer">

    <h2 class="text-center title-font">Your Dashboard</h2>
    <p class="text-center title-font">Update your delivery address and see your order history.</p>

    <!-- https://getbootstrap.com/docs/5.0/components/navs-tabs/#pills -->
    <!-- Tab Headings -->
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="profile-btn active btn " id="pills-profile-tab" data-toggle="pill" href="#pills-details"
                role="tab" aria-controls="pills-details" aria-selected="true">Address</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="profile-btn btn " id="pills-orders-tab" data-toggle="pill" href="#pills-orders" role="tab"
                aria-controls="pills-orders" aria-selected="false">Orders</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="profile-btn btn " id="pills-delete-tab" data-toggle="pill" href="#pills-delete" role="tab"
                aria-controls="pills-delete" aria-selected="false">Delete Account</a>
        </li>
    </ul>

    <div class="tab-content table-sm col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8" id="pills-tabContent">
        <!-- Details Tab -->
        <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-profile-tab">
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn profile-btn float-right">Update Address</button>
            </form>
        </div>

        <!-- Orders Tab -->
        <div class="tab-pane fade border-accent-primary" id="pills-orders" role="tabpanel"
            aria-labelledby="pills-orders-tab">
            <table class="table-responsive table-borderless text-center">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Order</th>
                        <th scope="col">Items</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="order-table border">
                        <td class="order-table-td">{{ order.date|date:"M d, Y" }}</td>
                        <td class="order-table-td"><a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}" class="order-link">
                                {{ order.order_number|truncatechars:6 }}</a></td>
                        <td class="order-table-td">
                            {% for item in order.lineitems.all %}
                            <p class="order-list">
                                {{ item.product.title }} x{{ item.quantity }}
                            </p>
                            {% endfor %}
                        </td>
                        <td class="order-table-td">€{{ order.grand_total }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">You haven't made any orders yet</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Delete Profile -->
        <div class="tab-pane fade border-accent-primary text-center text-black" id="pills-delete" role="tabpanel"
            aria-labelledby="pills-delete-tab">
            <h2>Warning!</h2>
            <h3>Account deletion is permanent. Proceed?</h3>
            <a class="btn btn-danger btn-lg mt-3" href="{% url 'user-delete' user.pk %}">Delete This
                Account</a>
        </div>
    </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}