{% extends "base.html" %}
{% load static %}

{% block extra_title %}Wishlist | {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="container mb-1">
        <div class="row">
            <div class="col">
                <h2 class="wishlist-header">Your Wishlist</h2>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <!-- if products exist in the users wishlist -->
        {% if wishlist.products.exists %}
        <div class="row">
            <div class="col-12">
                <p class="text-center">Here are all the items you've added to your wishlist!</p>
            </div>
        </div>
        <div class="table-responsive rounded-0">
            <table class="table wishlist-table text-align-center">
                <thead class="wishlist-head">
                    <tr class="wishlist-row mx-1 my-1">
                        <th class="wishlist-title">Product</th>
                        <th class="wishlist-title">Name</th>
                        <th class="wishlist-title">Price</th>
                        <th class="wishlist-title">View</th>
                        <th class="wishlist-title">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for each product in the wishlist -->
                    {% for product in wishlist.products.all %}
                    <tr class="wishlist-table">
                        <td class="wishlist-title" data-label="Product:">
                            {% if product.image %}
                            <img class="img-fluid rounded w-50" src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% else %}
                            <img class="img-fluid rounded w-50" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}">
                            {% endif %}
                        </td>
                        <td class="wishlist-title" data-label="Name:">
                            <p class="h6">{{ product.title }}</p>
                        </td>
                        <td class="wishlist-title" data-label="Price:">
                            <div>
                                <p class="mb-0 pb-1"><span class="text-left h5 brand-font">€{{ product.price }}</span></p>
                                {% if product.on_sale %}
                                <p class="mb-0"><s>€{{ product.sale_price|floatformat:2 }}</s></p>
                                {% endif %}
                            </div>
                        </td>
                        <td class="wishlist" data-label="View Product:">
                            <a href="{% url 'product_detail' product.id %}" aria-label="Link to View Product Detail Page">
                                <i class="fas fa-eye text-muted"></i>
                            </a>
                        </td>
                        <td class="wishlist" data-label="Remove Product:">
                            <a href="{% url 'remove_wishlist' product.id %}" aria-label="Link to View Product Detail Page">
                                <i class="fas fa-minus-circle text-muted"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- if no products exist in the users wishlist -->
        {% else %}
        <div class="col mt-4 pl-0">
            <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-1">
                <p class="text-center">Your Wishlist is currently empty - click the <span class="icon"><i
                            class="fas fa-heart fa-fw"></i></span> icon to add some!</p>
            </a>
        </div>
        {% endif %}
    </div>
    
    
</div>
{% endblock %}