/* Profile Page */

.profile-btn {
    color: #fff;
    margin: 10px;
    background-color: var(--black);
    border-color: #343a40;
}

.profile-btn:hover {
    color: var(--black);
    background-color: var(--white);
    border-color: #343a40;
}

.order-list {
    line-height: 1em;
    font-size: .875em;
    font-weight: 400;
}

.order-link {
    color: var(--blue);
}

.order-link:hover {
    color: var(--black);
}

.table-responsive {
    margin-bottom: 2em;
}

.order-table td,
.order-table th {
    vertical-align: initial;
}

#pills-delete {
    border: 1px solid var(--black);
    padding: 30px;
    margin-bottom: 1em;
}

.order-history {
    max-height: 416px; /* height of profile form + submit button */
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

@media (max-width: 991px) {
    .order-history {
        margin-top: 1em;
    }
}