/* Root Colours */

:root {
    --color-default: #fff;
    --blue: #3d85c6;
    --black: #000;
}

:root {
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-size: 1.25em;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--color-default);
    text-decoration: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
}

.navbar {
    background-color: var(--color-default);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--black);
}

.navbar-dark .navbar-toggler {
    color: var(--black);
    border-color: var(--black);
}

.bg-dark {
    background-color: var(--color-default) !important;
}




.dropdown {
    font-size: larger;
}

.dropdown-menu {
    visibility: visible;
    border-radius: 0;
    font-weight: bold;
    padding: 0;
    left: auto;
}

.dropdown-item,
.dropdown-menu {
    background-color: var(--color-default);
    color: var(--black);
    margin: -0.125rem 0 0;
    /* dropdown stays open on hover */
}

.dropdown-item {
    padding: 0.25rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--color-default);
    text-decoration: none;
    background-color: var(--black);
}

/* dropdown open on hover: https://stackoverflow.com/questions/46604391/how-to-open-dropdown-on-hover-in-bootstrap-4*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.logo-font {
    text-transform: uppercase;
    color: var(--black);
}

.main-logo-link {
    width: fit-content;
}

.nav-icon,
.nav-text {
    color: var(--black);
}

#sale-link {
    color: var(--blue);
}

.search-button {
    background-color: var(--color-default);
    color: var(--black);
}

.hero {
    display: none;
}

.hero-mobile {
    background-color: black;
    margin-top: 108px;
}

.hero-content-mobile {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: var(--color-default);
}

.hero-text-mobile-small {
    display: none;
}

.hero-text-mobile h2 {
    margin-top: 20px;
}

.hero-text-mobile p {
    padding: 1.5em;
}

.hero-image-mobile {
    width: 100%;
}

.hero-content-image-mobile {
    padding: 0;
    margin-top: 3em;
}

.hero-btn-mobile {
    margin-top: 1em;
    background-color: var(--black);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/* Brands Section */

.brands {
    margin-bottom: 42px;
    overflow: hidden;
    position: relative;
}

.container-brands {
    padding: 0 30px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.brands-header {
    max-width: 660px;
    margin: 0 0 42px;
    position: relative;
    margin: 0 auto 42px;
    text-align: center;
    margin-bottom: 18px;
}

.brands-div {
    display: block;
    padding: 0;
    list-style: none;
    margin: 0 0 0 -30px;
    font-size: 0;
    text-align: center;
}

.brands-item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 30px;
    font-size: 15px;
    font-size: 1rem;
}

.brands-img-div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 360px;
    margin-bottom: 30px;
    padding-bottom: 24px;
}

.brands-a {
    display: block;
}

.img-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.img-box-title {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 24px;
}

.brands-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-box-title-text {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

/* Categories Section */

.categories-desktop {
    position: relative;
    padding-bottom: 3.8rem;
    overflow-x: hidden
}

.column {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: flex;
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 8px;
    background-color: #33b5e5;
    color: #ffffff;
    height: 120px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.menu li:hover {
    background-color: var(--color-default);
    opacity: 0.7;
}

.menu li a {
    text-decoration: none;
    color: var(--black);
}

.faqs {
    text-align: center;
    max-width: 980px;
    margin: auto;
}

.faq-font,
.faq-content h4 {
    color: #3d85c6;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

#delivery-banner {
    background-color: var(--blue);
    color: var(--color-default);
    text-transform: uppercase;
}

.card {
    border: 1px solid #e1e2e7 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.why-us {
    padding: 2em;
}

.why-us h2 {
    color: var(--color-default);
    text-transform: uppercase;
    font-weight: 600;
}

.why-us-item img {
    width: 100px;
    filter: invert(1);
}

.why-us {
    background-color: var(--blue);
}

.why-us .why-us-item {
    padding: 15px;
    height: 100%;
    line-height: 1.8;
    text-align: center;
}

.why-us .why-us-item h3 {
    color: var(--black);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    text-align: center;
}

.why-us .why-us-item p {
    color: var(--color-default);
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    font-size: 22px;
    position: relative;
    text-align: center;
}

/* -------------------------------- Product Form including clearable file input widget to handle image field */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.title-font {
    color: var(--black);
}

.product-title {
    color: var(--black);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-row {
    margin: 0 3em;
}

.product-image {
    display: flex;
    max-width: 15em;
    margin: 1rem auto;
}

.delete-btn {
    color: #dc3545;
}

.edit-btn {
    color: #007bff;
}

.product-btn {
    color: var(--black);
    background-color: var(--color-default);
}

.product-btn:hover {
    color: var(--color-default);
    background-color: #fff;
    border: 1px solid var(--color-default);
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.product-links {
    margin-top: 1em;
    line-height: 1em;
}

.description-card {
    max-height: 30em;
}

.card-brand {
    color: var(--blue);
}

.card-links a {
    color: var(--blue);
}

.card-links a:hover {
    text-decoration: none;
    font-size: large;
}

.product-details-container {
    text-align: center;
    line-height: 35px;
}

.product-detail {
    justify-content: center;
}

.quantity-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: black;
}

.quantity-form p {
    margin-right: 2em;
    margin-bottom: 0;
}

.product-links p {
    margin-right: 1em;
}

.price-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.price-font {
    color: var(--black);
}

.price-font-original {
    text-decoration: line-through
}

.review-accordian {
    width: 75%;
}

.image-review-div {
    text-align: -webkit-center;
}

.review-form {
    width: 100%;
}

.reviews {
    width: 100%;
}

.delete {
    text-transform: uppercase;
    font-size: xx-large;
}

.delete-div {
    height: -webkit-fill-available;
}

#delete {
    margin: 1em;
}

.delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

.favourites {
    color: #555;
}

.favourites:hover {
    color: #000;
}

.product-image-lg {
    max-width: 75%;
}

.card-header {
    background-color: var(--blue);
}

.image-container {
    margin: 2em 0;
}




/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}



.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-red {
    background: red;
    color: white;
}

.btn-red:hover {
    background: rgb(255, 67, 67);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Contact Page */

.contact h2 {
    color: var(--blue);
    text-align: center;
    padding: 20px;
}

.contact .container .row {
    margin-bottom: 20px;
}

.contact .info-item {
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
}

.contact .info-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: var(--blue);
    border-radius: 50%;
    border: 2px dotted var(--blue);
}

.contact .info-item h3 {
    font-size: 20px;
    color: var(--blue);
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 1em;
    margin-bottom: 0;
}

.contact-form-container {
    margin: auto;
}

.contact-form {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 0 30px 30px 30px;
}

.contact-form label {
    color: var(--blue);
    font-size: 1.5em;
}

.contact-form .form-group {
    padding-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    margin: 1em;
}

.contact-form .message {
    height: 150px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--color-primary);
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form .contact-p {
    text-align: center;
    color: var(--blue);
    font-size: 1.4em;
}

#contact-form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */

.footer {
    flex-shrink: 0;
    background-color: var(--black);
    text-align: center;
}

.footer-container {
    padding-bottom: 20px;
}

.footer .row {
    padding-top: 20px;
}

.footer a {
    color: var(--color-default);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer-content {
    color: var(--color-default);
}

.footer-col {
    padding-top: 20px;
}

.footer-row {
    padding: 0;
    margin: 0;
}

.social-links {
    justify-content: center;
    font-size: 1.5em;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    padding: 10px;
}

.copyright,
.credits {
    color: var(--color-default);
}

/* -------------------------------- Media Queries */


@media screen and (min-width: 1366px) {}

@media screen and (min-width: 1024px) {}

@media screen and (max-width: 1024px) {}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* Hero Section */

    .hero-mobile {
        display: none;
    }

    .hero {
        display: block;
        overflow-x: hidden;
        padding: 0;
        color: #fff;
        z-index: 1;
        width: 100%;
        height: 100vh;
        padding: 80px 0;
        margin: 0;
        position: relative;
    }

    .hero .info {
        background-image: url(/media/ac.png);
        background-position: left 0em top 0em;
        position: absolute;
        background-size: cover;
        width: 100%;
        inset: 0;
        z-index: 2;
    }

    .hero-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-image {
        display: none;
    }

    .hero-text {
        width: 100%;
        margin: 5%;
        left: 15%;
        top: 10%;
        text-align: center;
    }

    .hero-inner {
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
    }

    .hero-text h2 {
        font-size: 3em;
        padding-bottom: 10px;
    }

    .hero-text p {
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
    }

    .hero-btn {
        width: 15em;
        margin-top: 1em;
        color: var(--black);
        background-color: var(--color-default);
    }

    .hero-btn:hover {
        color: var(--color-default);
        background-color: var(--black);
    }


    /* Categories Section */

    .categories {
        display: flex;
    }

    .categories-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .category-rectangle {
        width: 50%;
        position: absolute;
        height: 15em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 4rem 0 8rem;
        color: #fff;
        z-index: 1;
    }

    .category-rectangle::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: -1;
    }

    .header-container {
        padding-top: 164px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    #top-nav {
        justify-content: space-between;
    }

    .logo-nav {
        display: block;
    }

    /* Categories Section */

    .categories {
        display: flex;
    }

    .categories-desktop-link {
        color: var(--black);
        font-size: 1.5em;
        text-decoration: underline;
    }

    .categories-desktop {
        padding: 2rem 0;
        margin: 0 0 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .brands-item {
        width: 33.33333% !important;
    }

    .review-accordian {
        width: 25%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    /* Categories Section */

    .categories {
        display: flex;
    }

    .categories-desktop {
        height: 720px;
        padding: 0;
    }

    .category-rectangle {
        padding: 0 4rem;
        height: 0;
        text-align: center;
    }

    .category-rectangle .h1 {
        color: var(--black);
        text-align: center;
        padding: 2em;
    }

    a.categories-desktop-link {
        color: var(--black);
        font-size: 1.25em;
    }

    .category-rectangle::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: -1;
    }

    .column {
        float: none;
    }

    .menu {
        position: relative;
        width: 100%;
    }

    .right,
    .left {
        top: 15em;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .info.d-flex.align-items-center {
        margin-top: 5em;
    }

    .hero-content-mobile {
        margin-top: 0;
    }

    .hero-image-mobile {
        display: none;
    }

    .hero-text-mobile {
        display: none;
    }

    .hero-text-mobile-small {
        display: block;
        margin: 3em;
    }

    .hero-text-mobile-small h2 {
        margin-bottom: 1em;
    }

    .category-rectangle .h1 {
        padding: 0.75em 0;
        font-size: 2em;
    }

    .product-row {
        margin: 0;
    }

    .table {
        display: none;
    }

}