/* Root Colours */

:root {
    --white: #fff;
    --blue: #2B5788;
    --black: #000;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #555;
    font-family: 'Fjalla One', sans-serif;
}

.content {
    flex: 1 0 auto;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--black);
    text-decoration: none;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
}

.header-container {
    padding-top: 20px;
}


/* Button Styling */

.delete-btn {
    color: var(--white);
}

.edit-btn {
    color: var(--white);
}

.delete-btn:hover, .edit-btn:hover {
    text-decoration: underline;
    color: white;
}

.product-btn {
    color: var(--white);
    background-color: var(--blue);
}

.product-btn:hover {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-danger:hover {
    color: var(--black);
    background-color: var(--white);
}

.btt-button {
    background-color: white;
    border: 1px solid var(--blue) !important;
    color: blue;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-red {
    background: red;
    color: white;
}

.btn-red:hover {
    background: rgb(255, 67, 67);
    color: white;
}

.btn-dark:hover {
    color: black;
    background-color: white;
    border-color: #1d2124;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


/* -------------------------------- Navbar Styling */

.top-nav {
    display: none;
}

.navbar {
    background-color: var(--white);
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--black);
}

.navbar-toggler {
    border: 1px solid black;
    padding: 0.6rem 0.6rem;
    font-size: 1rem;
}

.form-control:focus {
    box-shadow: none;
}

.nav-link {
    color: var(--black) !important;
}

.nav-fill .nav-item,
.nav-fill>.nav-link {
    text-align: start !important;
}

.dropdown-menu {
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-radius: 0;
    border: 2px solid var(--blue);
    background-color: var(--white);
}

.dropdown-menu {
    visibility: visible;
    border-radius: 0;
    font-weight: bold;
    padding: 0;
}

.dropdown-item,
.dropdown-menu {
    background-color: var(--white);
    color: var(--black);
    margin: -0.125rem 0 0;
    /* dropdown stays open on hover */
}

.dropdown-item {
    padding: 0.25rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--white);
    text-decoration: none;
    background-color: var(--black);
}

/* dropdown open on hover: https://stackoverflow.com/questions/46604391/how-to-open-dropdown-on-hover-in-bootstrap-4*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.logo-font {
    text-transform: uppercase;
    color: var(--black);
}

.main-logo-link {
    width: fit-content;
}

.nav-icon {
    color: var(--blue);
}


.navbar-icons {
    display: flex;
    margin-bottom: 0 !important;
}

.nav-text {
    color: var(--black);
}

#sale-link {
    color: var(--blue);
}

.search-button {
    background-color: var(--white);
    color: var(--black);
}

#delivery-banner {
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
}


/* Hero Section */

.hero {
    display: none;
}

.hero-container-mobile {
    margin: 0 auto;
}

.hero-mobile .info {
    background-image: url(/media/hero-mobile.webp);
    height: 75vh;
    position: relative;
    background-size: cover;
    inset: 0;
    z-index: 2;
}

.hero-content-mobile {
    position: relative;
    top: 35%;
    text-align: center;
}

.hero-text-mobile {
    color: var(--white);
}

.hero-inner-mobile {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
    top: 15em;
    padding: 1px 0;
}

.hero-text-mobile h2 {
    margin-top: 20px;
}

.hero-text-mobile p {
    padding: 10px;
}

.hero-image-mobile {
    width: 100%;
}

.hero-content-image-mobile {
    padding: 0;
    margin-top: 3em;
}

.hero-inner {
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin: auto;
    max-width: 50%;
}

.hero-btn {
    max-width: 15em;
    margin: 1em auto;
    color: var(--black);
    background-color: var(--white);
}

.hero-btn:hover {
    color: var(--white);
    background-color: var(--black);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Error Pages */

.error-container {
    margin: auto;
}

.error-bg {
    background-image: url(/media/error.webp);
    background-size: cover;
    background-position: 35em;
}

.error-div {
    margin: 15% 5%;
}


/* Brands Section */

.brands {
    margin: 1em 0 42px;
    overflow: hidden;
    position: relative;
}

.container-brands {
    padding: 0 30px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.brands-header {
    max-width: 660px;
    margin: 0 0 42px;
    position: relative;
    margin: 0 auto 42px;
    text-align: center;
    margin-bottom: 18px;
}

.brands-div {
    display: block;
    padding: 0;
    list-style: none;
    margin: 0 0 0 -30px;
    font-size: 0;
    text-align: center;
}

.brands-item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 30px;
    font-size: 15px;
    font-size: 1rem;
}

.brands-img-div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 360px;
    margin-bottom: 30px;
    padding-bottom: 24px;
}

.brands-a {
    display: block;
}

.img-box {
    position: absolute;
}

.img-box-title {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    margin: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.brands-img-div img {
    opacity: 0.5;
}

.brands-img-div .img-box-title {
    opacity: 1;
}


.brands-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Categories Section */

.categories-desktop {
    position: relative;
    padding-bottom: 3.8rem;
    overflow-x: hidden
}

.column {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: flex;
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 8px;
    background-color: #33b5e5;
    color: #ffffff;
    height: 120px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.menu li:hover {
    background-color: var(--white);
    opacity: 0.7;
}

.menu li a {
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 4px 4px #000;
}

/* Why Us Section */
.why-us {
    padding: 2em;
}

.why-us h2 {
    color: var(--white);
    text-transform: uppercase;
}

.why-us-item img {
    width: 100px;
    margin-top: 1em;
    filter: invert(1);
}

.why-us {
    background-color: var(--blue);
}

.why-us .why-us-item {
    padding: 15px;
    height: 100%;
    line-height: 1.8;
    text-align: center;
}

.why-us-title {
    color: var(--white);
    margin: 0 0 20px 0;
    padding-bottom: 8px;
    position: relative;
    text-align: center;
}

.why-us-p {
    color: var(--white);
    position: relative;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}


/* Page Styling */

.faqs {
    text-align: center;
    max-width: 980px;
    margin: auto;
}

.faq-font,
.faq-content h4 {
    color: #2B5788;
}

.privacy-container {
    width: 80%;
}

.privacy-container li {
    list-style-type: none;
}


/* Product Form and Page */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.title-font {
    color: var(--black);
}

.product-add {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    color: var(--black);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-row {
    margin: 0 3em;
}

.product-image {
    display: flex;
    max-width: 15em;
    margin: 1rem auto;
}

.product-links {
    margin-top: 1em;
    line-height: 1em;
    width: -webkit-fill-available;
}

.description-card {
    max-height: 100%;
    border: 1px solid #e1e2e7 !important;
}

.sale-badge {
    position: absolute;
    font-size: 1.25em;
    right: 20px;
    top: 15px;
    font-weight: normal;
    color: var(--white);
    background-color: var(--blue);
}

.product-image-div {
    height: 25em;
    display: flex;
}

.product-image-div a {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #e1e2e7 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.card-body, .card-footer {
    background-color: var(--blue);
    color: white;
    width: 100%;
}

.card-details-body {
    background-color: var(--white);
}

.card-brand {
    color: var(--white);
}

.card-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    flex: 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card-links a {
    color: var(--white);
}

.card-links span:hover {
    text-decoration: underline;
}

.card-header {
    background-color: var(--blue);
}

.image-container {
    margin: 2em 0;
}

.product-details-container {
    text-align: center;
    line-height: 35px;
}

.product-detail {
    justify-content: center;
}

.quantity-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: black;
}

.quantity-form p {
    margin-right: 2em;
    margin-bottom: 0;
}

.product-links p {
    margin-right: 1em;
}

.detail-card-links {
    background-color: var(--blue);
    height: 2.5em;
}

.price-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.price-font {
    color: var(--black);
}

.price-font-original {
    color: var(--black);
    text-decoration: line-through
}


/* Review Section */

.review-card {
    background-color: var(--white);
    border: 1px solid var(--blue);
    color: var(--black);
}

.review-accordian {
    width: 75%;
}

.review-form {
    width: 100%;
}

.reviews {
    width: 100%;
}

/* Delete Modals */

.delete {
    text-transform: uppercase;
    font-size: xx-large;
}

.delete-div {
    height: -webkit-fill-available;
}

#delete {
    margin: 1em;
}

.delete-form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

.text-blue {
    color: #2B5788 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Allauth form formatting */

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    font-size: 1rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: var(--white);
    background-color: var(--black);
    border-color: #222;
}

.allauth-form-inner-content a {
    color: var(--blue);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/* Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: var(--blue) !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Contact Page */

.contact h2 {
    color: var(--blue);
    text-align: center;
    padding: 20px;
}

.contact .container .row {
    margin-bottom: 20px;
}

.contact .info-item {
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
    margin: 10px;
}

.contact .info-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: var(--blue);
    border-radius: 50%;
    border: 2px dotted var(--blue);
}

.contact .info-item h3 {
    font-size: 20px;
    color: var(--blue);
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 1em;
    margin-bottom: 0;
}

.contact-form-container {
    margin: auto;
}

.contact-form {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 0 30px 30px 30px;
}

.contact-form label {
    color: var(--blue);
    font-size: 1.5em;
}

.contact-form .form-group {
    padding-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    margin: 1em;
}

.contact-form .message {
    height: 150px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--color-primary);
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form .contact-p {
    text-align: center;
    color: var(--blue);
    font-size: 1.4em;
}

#contact-form p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer */

.footer {
    flex-shrink: 0;
    background-color: var(--black);
    text-align: center;
}

.footer-container {
    padding-bottom: 20px;
}

.footer .row {
    padding-top: 10px;
}

.footer a {
    color: var(--white);
}

.footer a:hover {
    color: var(--blue);
}

.footer ul {
    line-height: 2em;
    list-style: none;
    padding: 0;
}

.contact-links {
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
}

.footer-content {
    color: var(--white);
}

.footer-col {
    padding-top: 20px;
}

.footer-row {
    padding: 0;
    margin: 0;
}

/* Mail Chimp */

#mc_embed_signup {
    color: var(--white);
}

#mc_embed_signup form {
    text-align: center;
    margin: 0 20px;
}

#mc_embed_signup h4 {
    margin: 0;
    font-weight: normal;
}

#mc_embed_signup .mc-field-group label {
    padding-top: 5px;
}

#mc_embed_signup .helper_text {
    display: none;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    color: var(--blue);
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 2px solid var(--blue);
}

#mc_embed_signup .foot {
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
}

.brandingLogo img {
    width: 90%;
}

#mc_embed_signup .button {
    background-color: var(--blue);
    font-size: 20px;
    height: 35px;
}

#mc_embed_signup .button:hover {
    color: var(--blue);
    background-color: var(--white);
}

.social-links {
    justify-content: center;
    font-size: 1.5em;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    padding: 10px;
}

.copyright,
.credits {
    color: var(--white);
}

/* -------------------------------- Media Queries */

@media only screen and (max-height: 500px) {
    .hero-inner-mobile {
        top: 8em;
    }

    .category-rectangle .h1 {
        padding: 1.25em 0;
    }
}


@media only screen and (max-width: 574px) {
    .navbar-icons {
        display: flex;
        margin: 0 auto;
        padding-top: 0.5rem;
    }

    .nav-link {
        padding: 0.5rem;
    }

    .dropdown-menu {
        min-width: 15rem !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    #mc_embed_signup .mc-field-group {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .info.d-flex.align-items-center {
        margin-top: 5em;
    }

    .hero-text-mobile-small {
        display: block;
        margin: 3em;
    }

    .hero-text-mobile-small h2 {
        margin-bottom: 1em;
    }

    .category-rectangle .h1 {
        padding: 1.25em 0;
        font-size: 2em;
    }

    .product-row {
        margin: 0;
    }

    .table {
        display: none;
    }

}

@media only screen and (min-width: 768px) {

    .nav-link {
        padding: 0.15rem;
    }


    /* Hero Section */

    .hero-mobile {
        display: none;
    }

    .hero {
        display: block;
        color: #fff;
        z-index: 1;
        height: 90vh;
        margin: 0;
    }

    .hero .info {
        background-image: url(/media/hero-mobile.webp);
        position: absolute;
        background-size: cover;
        width: 100%;
        inset: 0;
        z-index: 2;
    }

    .hero-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-image {
        display: none;
    }

    .hero-text {
        max-width: 100%;
        margin: 5%;
        text-align: center;
        position: relative;
        top: 2em;
    }

    .hero-text h2 {
        font-size: 3em;
        padding-bottom: 10px;
    }

    .hero-text p {
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
    }

    .hero-btn {
        margin-top: 1em;
        color: var(--black);
        background-color: var(--white);
    }

    .hero-btn:hover {
        color: var(--white);
        background-color: var(--black);
    }

    .hero-inner {
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 20px;
        max-width: 50%;
        margin: 0;
    }

    /* Brands Section */

    .brands-img-div img {
        opacity: 1;
    }

    .brands-img-div .img-box-title {
        opacity: 0;
    }

    .brands-img-div:hover img {
        opacity: 0.3;
    }

    .brands-img-div:hover .img-box-title {
        opacity: 1;
    }

    .brand-title-p {
        margin-bottom: 1em;
    }

    .brands-item {
        width: 33.33333% !important;
    }

    .why-us-item img {
        margin-top: 0;
    }

    .why-us-p {
        border-bottom: none;
    }

    .review-accordian {
        width: 25%;
    }

    .table-responsive {
        display: table;
    }

    #mc_embed_signup .foot {
        display: grid;
        grid-template-columns: 2fr 2fr;
        width: 96%;
        align-items: start;
        justify-content: space-evenly;
        justify-items: end;
    }

    .error-bg {
        background-position: top;
    }
}

@media (max-width: 991px) {

    .navbar-icons {
        display: flex;
        margin-bottom: 0 !important;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    /* Categories Section */

    .categories {
        display: flex;
    }

    .categories-desktop {
        height: 720px;
        padding: 0;
    }

    .category-rectangle {
        padding: 0 4rem;
        height: 0;
        text-align: center;
    }

    .category-rectangle .h1 {
        color: var(--white);
        text-align: center;
    }

    a.categories-desktop-link {
        color: var(--white);
        font-size: 1.25em;
    }

    .category-rectangle::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: -1;
    }

    .column {
        float: none;
    }

    .menu {
        position: relative;
        width: 100%;
    }

    .right,
    .left {
        top: 15em;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .dropdown {
        font-size: larger;
    }

    .nav-icon {
        font-size: 1.5em !important;
        color: var(--blue);
    }

    .list-inline-item {
        padding: 0 0.5em;
    }

    .hero .info {
        background-image: url(/media/hero.webp);
    }

    /* Categories Section */

    .categories {
        display: flex;
    }

    .categories-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 30px;
    }

    .category-rectangle {
        width: 50%;
        position: absolute;
        height: 15em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 4rem 0 8rem;
        color: #fff;
        z-index: 1;
    }

    .category-rectangle::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: -1;
    }

    .header-container {
        padding-top: 20px;
    }

    #logo-mobile {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-icons {
        display: none;
    }

    .nav-item {
        margin: 0 .75em;
    }

    #top-nav {
        justify-content: space-between;
    }

    /* Categories Section */

    .categories {
        display: flex;
    }

    .categories-desktop-link {
        color: var(--white);
        font-size: 1.5em;
        text-decoration: underline;
    }

    .categories-desktop {
        padding: 2rem 0;
        margin: 0 0 2rem;
    }

    .product-image-lg {
        max-width: 75%;
    }

    .product-hr {
        margin-top: 5rem;
    }

    /* https://codepen.io/Corsurath/pen/abbxNpj */
    .product-card {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        cursor: pointer;
    }

    .product-card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
        margin-bottom: 1em;
    }

    .card-links {
        display: block;
    }
}