@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Fjalla One', sans-serif;
}

.index-brands {
    text-transform: uppercase;
    font-weight: 600;
}

.brand-logo-row {
    flex-direction: row;
    justify-content: space-evenly;
}

.brand-logo-row div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.brand-logo-row img {
    margin: 2em;
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
}

.navbar {
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.dropdown {
    font-size: larger;
}

.dropdown-menu {
    visibility:visible;
    border-radius: 0;
    font-weight: bold;
    padding: 0;
    left: auto;
}

.dropdown-item,
.dropdown-menu {
    background-color: #fff;
    color: #000;
    margin: -0.125rem 0 0; /* dropdown stays open on hover */
}

.dropdown-item {
    padding: 0.25rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

/* dropdown open on hover: https://stackoverflow.com/questions/46604391/how-to-open-dropdown-on-hover-in-bootstrap-4*/
.dropdown:hover>.dropdown-menu {
    display: block;
   }

.dropdown>.dropdown-toggle:active {
    pointer-events: none; 
}

.nav-icon,
.nav-text {
    color: #000;
}

.search-button {
    background-color: #000;
    color: #fff;
}

.carousel {
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

#delivery-banner {
    background-color: #f6f6f6;
    color: #000;
    text-transform: uppercase;
}

.carousel-item img {
    width: 100%;
}

.carousel-caption .slide-two {
    color: #000;
}

.card {
    border: 1px solid #e1e2e7 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.brands {
    margin: -25px;
    background-color: #f6f6f6;
}

/* -------------------------------- Product Form including clearable file input widget to handle image field */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.product-image {
    display: flex;
    width: 20em;
    margin: 1rem auto;
}

.product-btn {
    color: #fff;
    background-color: #000;
}

.product-btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;
}

.product-links {
    margin-top: 1em;
    line-height: 1em;
}

.card-links a {
    text-decoration: none;
}

.card-links a:hover {
    text-decoration: none;
    font-size: large;
}

.product-details-container {
    text-align: center;
    line-height: 35px;
}

.quantity-form {
    display: flex;
    align-items: baseline;
    
    justify-content: center;
}

.quantity-form p {
    margin-right: 2em;
    margin-bottom: 0;
}

.product-links p {
    margin-right: 1em;
}

.price-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.price-font-original {
    text-decoration: line-through
}

.review-form {
    width: 100%;
}

.reviews {
    width: 100%;
}

.delete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourites {
    color: #555;
}

.favourites:hover {
    color: #000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: #000;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .navbar-nav {
        flex-direction: row;
    }

    #top-nav {
        justify-content: space-between;
    }

    .logo-nav {
        display: block;
    }

    .carousel {
        display: contents;
    }

    .carousel-inner {
        height: 80vh;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        background-image: none;
    }

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 40px;
        color: #fff;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 40px;
        color: #fff;
    }

    .carousel-caption {
        font-size: 2em;
        bottom: 40px;
    }

    .carousel-caption a {
        color: #fff;
        text-decoration: none;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}