{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 error-bg">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Sorry, you dont have permission to access that page.
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class="product-btn btn btn-lg rounded-0 text-uppercase py-3">
                                Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}