<footer id="footer" class="footer">

    <div class="footer-content position-relative">
        <div class="container">
            <div class="row footer-row">

                <div class="col-lg-4 col-md-6 footer-col">
                    <div class="footer-info">
                        <h3>LevelUp! Loot</h3>
                        <p>Brighten Roads
                            Kerrymount<br>
                            Foxrock, <br>
                            Co. Dublin<br>
                        </p>

                    </div>
                </div><!-- End footer info column-->



                <div class="col-lg-4 col-md-3 footer-col">
                    <h4>Contact Us</h4>
                    <strong>Phone:</strong> +353 123 456789<br>
                    <strong>Email:</strong> info@leveluploot.ie<br>
                </div><!-- End footer links column-->

                <div class="col-lg-4 col-md-3 footer-col">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div><!-- End footer links column-->
                
            </div>
            <div class="social-links d-flex">
                <a href="https://twitter.com" class="d-flex align-items-center justify-content-center"
                    target="_blank" rel="noopener" aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter"></i></a>
                <a href="https://facebook.com" class="d-flex align-items-center justify-content-center"
                    target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com" class="d-flex align-items-center justify-content-center"
                    target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-legal text-center position-relative">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Victoria Traynor</span></strong>
            </div>
            <div class="credits">
                Made for Portfolio Project 5 eCommerce Wesbite by <a href="https://github.com/VictoriaT87/">Victoria
                    Traynor</a>
            </div>
        </div>
    </div>

</footer>