<div class="collapse navbar-collapse mb-2" id="main-nav">
    <ul class="row navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown disabled">
            <a class="logo-font nav-link mr-5" href="#" id="category-link" aria-haspopup="true" aria-expanded="false">
                Category
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'products' %}?category=gaming" class="dropdown-item">Gaming</a>
                <a href="{% url 'products' %}?category=tv_shows" class="dropdown-item">TV Shows</a>
                <a href="{% url 'products' %}?category=movies" class="dropdown-item">Movies</a>
                <a href="{% url 'products' %}?category=anime" class="dropdown-item">Anime</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link mr-5" href="#" id="brand-link" aria-haspopup="true" aria-expanded="false">
                Brand
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="brand-link">
                <a href="{% url 'products' %}?brand=funko" class="dropdown-item">Funko</a>
                <a href="{% url 'products' %}?brand=hasbro" class="dropdown-item">Hasbro</a>
                <a href="{% url 'products' %}?brand=sideshow" class="dropdown-item">Sideshow</a>
                <a href="{% url 'products' %}?brand=mcfarlane" class="dropdown-item">McFarlane Toys</a>
                <a href="{% url 'products' %}?brand=dark_horse" class="dropdown-item">Dark Horse</a>
                <a href="{% url 'products' %}?brand=pure_arts" class="dropdown-item">Pure Arts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link mr-5" href="#" id="all-products-link" aria-haspopup="true"
                aria-expanded="false">
                All Products
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price (Lowest)</a>
                <a href="{% url 'products' %}?sort=average_rating&direction=desc" class="dropdown-item ">By
                    Rating (Highest)</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By
                    Category (A-Z)</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-blue" href="{% url 'products' %}?sale" id="sale-link" aria-haspopup="true"
                aria-expanded="false">Sale</a>
        </li>
    </ul>
</div>