{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="LevelUp! Loot">
    <meta name="author" content="Victoria Traynor">
    <meta name="description" itemprop="description"
        content="Collectible figures, statues and replicas from across Pop Culture, shipped from Ireland!">
    <meta name="keywords" content="gaming statues, collectibles, game figures, video games, 
        superhero collectible statues, collectable statues, assassin's creed statue collection, collectible figures for adults, premium collectible statues, tv show, anime,
        movies, funko pop, sideshow, batman, lord of the rings, avatar, batman, superman, free shipping">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block extra_js %}
    <script
        id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/55b2009d670eb222a041a344b/532454e1b72c711a11c56ecaf.js");</script>
    {% endblock %}

    <title>LevelUp! Loot {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid sticky-top">
        <!-- navbar -->
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font text-black my-0"><strong class="text-blue">LevelUp!</strong> Loot</h1>
                </a>
            </div>
            <!-- Search bar -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search Products">
                        <div class="input-group-append">
                            <button class="search-button btn border border-black rounded-0" type="submit">
                                <i class="search-button fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="col-12 col-lg-4 my-2 py-1 py-lg-0 list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg nav-icon"></i></div>
                            <p class="my-0 nav-text">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>

                {% if request.user.is_authenticated %}
                <li class="list-inline-item">
                    <a class="text-black nav-link px-1" href="{% url 'wishlist' %}">
                        <div class="text-center">
                            <div><i class="fas fa-heart fa-lg nav-icon"></i></div>
                            <p class="my-0">Wishlist</p>
                        </div>
                    </a>
                </li>
                {% endif %}

                <li class="list-inline-item">
                    <a class="{% if total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_cart' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg nav-icon"></i></div>
                            <p class="my-0 nav-text">
                                {% if total %}
                                €{{ total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Navbar -->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                </button>
                {% include 'includes/mobile-nav.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>

        <!-- Delivery Banner -->
        <div id="delivery-banner" class="row text-center">
            <div class="col">
                <h2 class="h5 pt-2">
                    Free delivery on orders over €{{ free_delivery_threshold }}!
                </h2>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% elif level == 20 %}
        {% include 'includes/toasts/toast_wishlist.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- PopperJS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Boostrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}


</body>

</html>