{% extends 'base.html' %}

{% load static%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="col-sm col-md-8 offset-md-2 p-2 my-5 bg-light">
        <form class="delete-form" method="POST">
            {% csrf_token %}
            <h3>Delete Review</h3>
            <p>You are about to delete your review titled: "<strong>{{ object.title }}</strong>"</p>
            <p>With the message:</p>
            <div><strong>{{ object.review }}</strong></div>
            <br>
            <p>This action cannot be undone!</p>
            <button class="btn btn-danger my-2 ml-2" aria-label="delete post">Delete Review!</button>
            <a class="btn btn-outline-black my-2 ml-2" href="{% url 'products' %}">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}