{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font text-black text-center">Update Your Review</h2>
        </div>
    </div>
</div>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container h-100">
    <div class="col-sm col-md-8 offset-md-2 p-2 my-5 bg-light">
        <form method="post" class="review-form">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn product-btn my-2 ml-2" type="submit" value="Update">
            <a class="btn btn-outline-black my-2 ml-2" href="{% url 'products' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}