{% extends "base.html" %}
{% load static %}

{% block extra_title %}{{product.title}} | {% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4 mb-5">
    <section>
        <h1 class="text-black h3 text-center product-title mb-3 mt-3">{{ product.title }}</h1>
        <div class="row product-detail mb-5">
            <div class="col-12 col-lg-4 image-review-div">
                <div class="image-container">
                    {% if product.image %}
                    <img class="card-img-top product-image-lg" src="{{ product.image.url }}" alt="{{ product.title }}">
                    {% else %}
                    <img class="card-img-top product-image-lg" src="" alt="{{ product.title }}">
                    {% endif %}
                </div>
            </div>
            <!-- Product Detail card -->
            <div class="col-12 col-lg-4">
                <div class="product-details-container mt-md-4">
                    <div class="card description-card mt-3">
                        <div class="card-header">
                            <div class="price-box">
                                {% if product.on_sale %}
                                <p class="mb-0 pt-3 pb-1 text-center text-white">
                                    Sale Price:
                                    <span class="h3 text-left product-title text-white">
                                        €{{ product.sale_price|floatformat:2 }}</span>
                                </p>
                                <p class="mb-0 pt-3 pb-1 text-center text-white">
                                    Price:
                                    <span
                                        class="h3 text-left product-title price-font-original text-decoration-line-through text-white">
                                        €{{ product.price }}</span>
                                </p>
                                {% else %}
                                <p class="mb-0 pt-3 pb-1 text-center product-title text-white">
                                    Price:
                                    <span class="h3 text-left product-title text-white">
                                        €{{ product.price }}</span>
                                </p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="product-links row d-inline-flex justify-content-around">
                            <div class="col">
                                <p class="small mb-0">
                                    <span class="h6 pb-3 text-black">
                                        Brand:
                                        <a class="alt-text-muted"
                                            href="{% url 'products' %}?brand={{ product.brand.name }}">
                                            {{ product.brand.friendly_name }}
                                        </a></span>
                                </p>
                            </div>
                            <!-- Add to Wishlist button -->
                            <div class="col d-inline-flex justify-content-center">
                                {% if wishlist is not None %}
                                <!-- to check if the wishlist is not none - some users won't have a wishlist when account first made -->
                                {% if wishlist %}
                                <!-- if the wishlist exists and is not empty -->
                                <span class="h6 pr-4 d-flex text-black">Wishlist: </span>
                                <a href="{% url 'remove_wishlist' product.id %}"
                                    aria-label="Remove product from Wishlist">
                                    <div class="wishlist-icon"><i class="fas fa-heart"></i></div>
                                </a>
                                {% else %}
                                <!-- if the wishlist exists and is empty -->
                                <span class="pr-4 d-flex text-black">Wishlist: </span>
                                <a href="{% url 'add_wishlist' product.id %}" aria-label="Add product to Wishlist">
                                    <div class="wishlist-icon"><i class="far fa-heart"></i></div>
                                </a>
                                {% endif %}
                                {% else %}
                                <!-- if the wishlist doesn't exist -->
                                <span class="pr-4 d-flex text-black">Wishlist: </span>
                                <a href="{% url 'add_wishlist' product.id %}" aria-label="Add product to Wishlist">
                                    <div class="wishlist-icon"><i class="far fa-heart"></i></div>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body h-200 px-5 text-black">
                            <p class="mt-3">{{ product.description }}</p>
                        </div>
                        {% if product.average_rating %}
                        <small class="d-flex text-black justify-content-center align-items-center">
                            User Rating:
                            <i class="fas fa-star ml-2 mr-1"></i> {{product.average_rating }} / 5</small>
                        {% else %}
                        <small class="d-flex text-black justify-content-center">No Rating</small>
                        {% endif %}



                        <!-- if superuser, links for edit and delete -->
                        {% if request.user.is_superuser %}
                        <small>
                            <a href="{% url 'edit_product' product.id %}" class="btn edit-btn">Edit</a>
                            <!-- Modal for delete confirmation -->
                            <button class="btn delete-btn" data-toggle="modal"
                                data-target="#fm-modal-grid">Delete</button>
                            <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog"
                                aria-labelledBy="fm-modal-grid" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header m-auto">
                                            <h1 class="text-center text-black">Attention!</h1>
                                            <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 col-sm-6">
                                                        <p>Are you sure you want to delete {{product.title}}</p>
                                                        <p>This can not be undone.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="text-danger delete-btn"
                                                href="{% url 'delete_product' product.id %}">Delete</a>
                                            <button class="btn edit-btn" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </small>
                        {% endif %}
                    </div>
                </div>

                <!-- Quantity Form -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12 text-center">
                            <div class="form-group quantity-form mt-3">
                                <p><strong>Quantity:</strong></p>
                                <div class="input-group  w-50 input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button
                                            class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}"
                                            aria-label="decrement item number">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}" aria-label="item quantity">

                                    <div class="input-group-append">
                                        <button
                                            class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}" aria-label="increment item number">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12{% if s %}-12 mt-2{% endif %} text-center">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn rounded-0 text-uppercase mt-2 product-btn"
                                value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="col-12 d-none d-xl-block mb-5">
        <hr>
    </div>

    <!-- Show Reviews -->
    <section>
        <div class="container mb-5">
            <h3 class="logo-font pt-2 text-center">
                Customer Reviews
            </h3>
            {% for review in reviews %}
            <div class="col-12 mt-3">
                <div class="row mt-3">
                    <div class="card w-100">
                        <div class="card-body">
                            <h4 class="mb-2">{{ review.title }}</h4>
                            <p><small class="text-muted p-0"><em>Posted by {{ review.user }} on 
                                {{ review.created_on}}</em></small></p>
                            <p class="card-text">{{ review.review }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if review.user == request.user or request.user.is_superuser %}
            <div class="mb-3">
                <a href="{% url 'update_review' review.id %}" class="btn btn-black my-2 ml-2">Update Review</a>
                <a href="{% url 'delete_review' review.id %}" class="btn btn-black my-2 ml-2">Delete Review</a>
            </div>
            {% endif %}
            {% empty %}
            <h5 class="font-weight-bold text-black mb-2 mt-3 text-center">No reviews yet! Log in to add yours.</h5>
            {% endfor %}
        </div>

        <!-- Review Form in accordian -->
        {% if user.is_authenticated %}
        <div id="accordion" class="review-accordian mx-auto">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 text-center">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <span class="text-white">Review This Product</span>
                            <span class="icon text-white"> <i class="fas fa-plus"></i></span>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <form action="{% url 'add_review' product.id %}" method="POST" class="review-form">
                            {% csrf_token %}
                            <h4 class="text-black">Review This Product</h4>
                            <div>
                                Title:
                                <input type="text" class="form-control" name="title" class="text-black">
                                <br>
                                Review:
                                <textarea name="review" rows="4" class="form-control"></textarea>
                                <br>
                                <input type="submit" value="Submit Review" class="btn btn-black rounded-0">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
        <p class="text-center">Please <a class="link-normal" href="{% url 'account_signup' %}">Register</a> or <a
                class="link-normal" href="{% url 'account_login' %}">Login</a> to leave a review.</p>
        {% endif %}
    </section>
</div>

<div class="col-12 d-none d-xl-block mb-5">
    <hr>
</div>
</section>


<!-- Related Products -->
<section>
<div class="row col-12 d-flex mt-4 mb-4 mx-auto text-center">
    <h3 class="product-title mx-auto">Other Products You Might Like</h3>
</div>
<div class="row mb-5 product-row">
    {% for product in related_products %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card h-100">
            <a href="{% url 'product_detail' product.id %}">
                <img class="card-img-top product-image img-fluid" src="{{ product.image.url }}"
                    alt="{{ product.title }}">
            </a>
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <h4 class="card-title text-black text-center mt-auto">{{ product.title }}</h4>
                <div class="mt-auto card-links">
                    {% if product.brand %}
                    <a class="product-links text-decoration-none"
                        href="{% url 'products' %}?brand={{ product.brand.name }}">
                        <span class="p-2 mt-4 card-brand">Brand: {{ product.brand.friendly_name }}</span>
                    </a>
                    {% endif %}
                    {% if product.category %}
                    <a class="product-links text-decoration-none"
                        href="{% url 'products' %}?category={{ product.category.name }}">
                        <span class="p-2 mt-4 card-brand">Category: {{ product.category.friendly_name }}</span>
                    </a>
                    {% endif %}
                </div>
                {% if product.average_rating %}
                <small class="text-muted d-flex justify-content-center mt-2 align-items-center">
                    <i class="fas fa-star mr-1"></i> {{product.average_rating }} / 5</small>
                {% else %}
                <small class="text-muted d-flex justify-content-center mt-2">No Rating</small>
                {% endif %}
                <!-- if superuser, links for edit and delete -->
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}" class="btn edit-btn">Edit</a>
                    <!-- Modal for delete confirmation -->
                    <button class="btn delete-btn" data-toggle="modal" data-target="#fm-modal-grid">Delete</button>
                    <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog"
                        aria-labelledBy="fm-modal-grid" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header m-auto">
                                    <h1 class="text-center text-black">Attention!</h1>
                                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-sm-6 text-center">
                                                <p>Are you sure you want to delete {{product.title}}</p>
                                                <p>This can not be undone.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="text-danger delete-btn"
                                        href="{% url 'delete_product' product.id %}">Delete</a>
                                    <button class="btn edit-btn" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </small>
                {% endif %}
            </div>

            <div class="card-footer bg-white text-center mb-2">
                {% if product.on_sale %}
                <div class="bg-white text-center mb-2 d-flex justify-content-around">
                    <p class="mb-0 pt-3 text-center">
                        Price:
                        <span class="h4 text-left font-weight-bold price-font-original text-decoration-line-through">
                            €{{ product.price }}</span>
                    </p>
                    <p class="mb-0 pt-3 text-center">
                        Sale Price:
                        <span class="h4 text-left font-weight-bold price-font">
                            €{{ product.sale_price|floatformat:2 }}</span>
                    </p>
                </div>
                {% else %}
                <p class="mb-0 pt-3 pb-1 text-center"><span class="h3 text-left font-weight-bold price-font">
                        €{{ product.price }}</span></p>
                {% endif %}

                <a href="{% url 'product_detail' product.id %}"
                    class="btn btn-sm product-btn text-shadow mt-1 rounded-0">
                    <span class="text-uppercase">View Product</span>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</section>

<!-- Back to the top button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock%}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}