{% extends "base.html" %}
{% load static %}

{% block extra_title %}Products | {% endblock %}

{% block page_header %}
<div>
    <div class="row">
        <div class="col d-flex flex-column align-items-center mt-4">
            <h2 class="title-font">Products</h2>
            <hr class="w-50 text-center mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="created_on__desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>
                                New Arrivals</option>
                            <option value="average_rating__desc" {% if current_sorting == 'average_rating__desc' %}selected{% endif %}>
                                Top Rated</option>
                            <option value="price__asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price__desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="title__asc" {% if current_sorting == 'title__asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="title__desc" {% if current_sorting == 'title__desc' %}selected{% endif %}>Name
                                (Z-A)</option>

                        </select>
                    </div>
                </div>

                <div class="col-12 col-md-6 order-md-first">
                    <p class="mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span><a href="{% url 'products' %}">View All Products </a> |
                        </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 product-row">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100">
                {% if product.on_sale %}
                <h1><span class="badge sale-badge">Save!</span></h1>
                {% endif %}
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top product-image" src="{{ product.image.url }}" alt="{{ product.alt_text }}">
                </a>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <h4 class="card-title text-black text-center mt-auto">{{ product.title }}</h4>
                    <div class="mt-auto card-links">
                        {% if product.brand %}
                        <a class="product-links text-decoration-none"
                            href="{% url 'products' %}?brand={{ product.brand.name }}">
                            <span class="p-2 mt-4 card-brand">Brand: {{ product.brand.friendly_name }}</span>
                        </a>
                        {% endif %}
                        {% if product.category %}
                        <a class="product-links text-decoration-none"
                            href="{% url 'products' %}?category={{ product.category.name }}">
                            <span class="p-2 mt-4 card-brand">Category: {{ product.category.friendly_name }}</span>
                        </a>
                        {% endif %}
                    </div>
                    {% if product.average_rating %}
                    <small class="text-muted d-flex justify-content-center mt-2 align-items-center">
                        <i class="fas fa-star mr-1"></i> {{product.average_rating }} / 5</small>
                    {% else %}
                    <small class="text-muted d-flex justify-content-center mt-2">No Rating</small>
                    {% endif %}
                    <!-- if superuser, links for edit and delete -->
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}" class="btn edit-btn">Edit</a> |
                        <button class="btn delete-btn" data-toggle="modal" data-target="#fm-modal-grid">Delete</button>
                    <div class="modal fade" id="fm-modal-grid" tabindex="-1" role="dialog"
                        aria-labelledBy="fm-modal-grid" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header m-auto">
                                    <h1 class="text-center text-black">Attention!</h1>
                                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">
                                            <div class="col-12 col-sm-6 text-center">
                                                <p>Are you sure you want to delete {{product.title}}</p>
                                                <p>This can not be undone.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <a class="text-danger delete-btn" href="{% url 'delete_product' product.id %}">Delete</a>
                                    <button class="btn edit-btn" data-dismiss="modal">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    </small>
                    {% endif %}
                </div>

                <div class="card-footer bg-white text-center mb-2">
                    {% if product.on_sale %}
                    <div class="bg-white text-center mb-2 d-flex justify-content-around">
                        <p class="mb-0 pt-3 text-center">
                            Price:
                            <span
                                class="h4 text-left font-weight-bold price-font-original text-decoration-line-through">
                                €{{ product.price }}</span>
                        </p>
                        <p class="mb-0 pt-3 text-center">
                            Sale Price:
                            <span class="h4 text-left font-weight-bold price-font">
                                €{{ product.sale_price|floatformat:2 }}</span>
                        </p>
                    </div>
                    {% else %}
                    <p class="mb-0 pt-3 pb-1 text-center"><span class="h3 text-left font-weight-bold price-font">
                            €{{ product.price }}</span></p>
                    {% endif %}

                    <a href="{% url 'product_detail' product.id %}"
                        class="btn btn-sm product-btn text-shadow mt-1 rounded-0">

                        <!-- <span class="icon">
                            <i class="fas fa-info"></i>
                        </span> -->
                        <span class="text-uppercase">View Product</span>
                    </a>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("__")[0];
            var direction = selectedVal.split("__")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}